.main {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  .infoContainer {
    .link {
      margin: 15px;
      margin-left: 5px;
      color: rgb(47 106 151);
      text-decoration: none;
      font-size: 0.9rem;
    }
    .note {
      color: rgb(163, 163, 163);
      font-weight: 400;
      font-size: 0.7rem;
    }
    h5 {
      font-size: 0.7rem;
      margin: 4px 5px;
      .avatar {
        margin-top: 5px;
        display: inline;
        width: 20px;
        height: 20px;
        line-height: 1;
        background-size: auto;
        border-radius: 50px;
        margin-right: 25px;
      }

      p {
        display: inline;
        padding: 0;
        margin: 0;
      }
    }
  }
  .user {
    float: left;
    margin-left: 20px;
    display: block;
  }
}
