.btn {
  border: none;
  border-radius: 20px;
  background-color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 70px;
  font-weight: 400;
}
.btn:hover {
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.573);
}
