.discoverContainer {
  flex-grow: 1.5;
  min-width: fit-content;
  footer {
    color: #717171;
    width: 250px;
    font-size: 0.7rem;
    text-align: center;
    margin: 10px auto;
    margin-right: 10%;
    position: fixed;
    bottom: 10px;
  }
}
