.divContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  gap: 25px;
  flex-grow: 0.5;
  margin-right: 10px;
  min-width: 200px;
}
.postBtn {
  border: none;
  border-radius: 20px;
  background-color: #1c9bf0;
  color: white;
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 0.6rem;
  width: 90%;
  font-weight: 400;
}

.AvatarContainer {
  position: absolute;
  bottom: 5px;
}
